@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&family=Poppins&display=swap");
* {
  box-sizing: border-box;
  color: #262626;
  font-family: Arial, Helvetica, sans-serif;
}

* input:focus,
* textarea:focus,
* select:focus,
* *:focus {
  outline: none;
}

body {
  margin: 0px;
  padding: 0px;
  background: #303952;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  font-size: 16;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

ul li {
  display: inline-block;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.col {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  opacity: 0;
  pointer-events: none;
}

.msgPop {
  position: fixed;
  top: -100%;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-50%);
  width: 90%;
  max-width: 700px;
  min-height: 200px;
  background: white;
  text-align: center;
  z-index: 11;
}

.msgPop #cerrarPopup {
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.msgPop #cerrarPopup svg {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

.msgPop #cerrarPopup svg g path {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  fill: #d9d9d9;
}

.msgPop #cerrarPopup:hover svg {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7);
}

.msgPop #cerrarPopup:hover svg g path {
  fill: #262626;
}

.msgPop p {
  width: 90%;
  font-size: 22;
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centrame {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
}

.centrame input {
  width: 100%;
  padding: 20px;
  border: 1px solid white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 16;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #8c8c8c;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.centrame input:hover {
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
}

.centrame input:focus {
  -webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2);
  color: #262626;
}

.centrame #enviarNumero {
  position: absolute;
  top: 50%;
  right: 1.5%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 100px;
  height: 50px;
  border: 0px;
  background: #8093ec;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 18;
  font-size: 1.125rem;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(128, 147, 236, 0);
  -moz-box-shadow: 0px 10px 10px 0px rgba(128, 147, 236, 0);
  -ms-box-shadow: 0px 10px 10px 0px rgba(128, 147, 236, 0);
  -o-box-shadow: 0px 10px 10px 0px rgba(128, 147, 236, 0);
  box-shadow: 0px 10px 10px 0px rgba(128, 147, 236, 0);
}

.centrame #enviarNumero:hover {
  background: #546de5;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(128, 147, 236, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(128, 147, 236, 0.5);
  -ms-box-shadow: 0px 0px 20px 0px rgba(128, 147, 236, 0.5);
  -o-box-shadow: 0px 0px 20px 0px rgba(128, 147, 236, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(128, 147, 236, 0.5);
}

@media (max-width: 600px) {
  .msgPop p {
    width: 85%;
    font-size: 16;
    font-size: 1rem;
  }
  .centrame #enviarNumero {
    position: relative;
    top: 0;
    right: 0;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    width: 100%;
    margin-top: 20px;
  }
}
